p <- c(KKK)
n <- length(p)
k <- 0
for (k in 0:n){
S <- seq(1, n)
A <- combn(S, k)
pr <- 0
for (i in 1:choose(n, k)) {
    pr <- pr + exp(sum(log(p[A[,i]])) + sum(log(1 - p[setdiff(S, A[,i])])))
}
cat("Pr ", k, " ", pr, "\n", sep = "")
}
